* {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    background: url("../img/main.jpg") center center fixed;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #260545;
    color: white;
    height: 10vh;
    display: flex;
    align-items: center;   
    z-index: 999999999999999; 
}

header > span {
    margin: 10px;
    cursor: pointer;
    font-family: sans-serif;
}

header > div {
    position: absolute;
    right: 40%;   
}

header > div > input, button {
    border: pink solid 2px;
}

.searchedDiv {
    position: relative;
    margin-top: 20px;
    display: flex;
    border: 2px solid black;
    width: 800px;
    height: 600px;
    background-color: white;
}

.searchedDiv > div {
    width: 50%;
}

.rightDivInDiv {
    overflow: auto;
}

p {
    margin: 10px 40px;
}

.addToFavorite {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: black;
    color: white;
    border: none;
}

#profileMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.profileDiv {
    position: relative;
    margin-top: 20px;
    display: flex;
    border: 2px solid black;
    width: 400px;
    height: 300px;
    background-color: white;
    margin: 5px;
}

.profileDiv > div {
    width: 50%;
}

.removeFromFavorite {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: red;
    color: white;
    border: none;
}

.inFavorite {
    border: 2px solid green;
}