<img style='position: absolute; top: 20vh; z-index:2' src="img/gifka.gif">
<img style ='position: absolute; left:48vh; top: 76vh; z-index:2; width: 150px; height: auto' src='img/egorka.png'>
<div style='position: absolute; top: 20vh; width: 20px; height: 781px; background-color: black'></div>